:root {
    background-color: rgb(255, 255, 255);
}

body{
    margin: 0px;
}

.navbarContainer{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(12px);
    z-index: 1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.39);
    z-index: 999;
}

.navbar{
    height: 100%;
    margin: 0px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenedorLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}
.contenedorImagenLogo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.logo{
    height: 100%;
    width: auto;
    
}
.logsContainer{
    position: relative;
    display: flex;
    gap: 20px;

}

.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(17, 17, 17), 70%, rgba(53, 53, 53, 0.9));
    color: white;
    border: 0px;
    height: 50px;
    width: 150px;
    border-radius: 7px ;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    
}
.signUp:hover{
    background: linear-gradient(to top, rgb(19, 19, 19), 70%, rgba(88, 88, 88, 0.9));
    box-shadow: 0px 6px 10px rgba(34, 34, 34, 0.459);
    
}

.logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 7px ;
    border: 1px solid rgb(72, 0, 114, 0.15);
    font-size: 1rem;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.logIn:hover{
    box-shadow: 0px 1px 3px rgba(34, 34, 34, 0.199);
    
}

.sectionIntro{
    position: relative;
    height: 60vh;
    padding-left: 15%;
    padding-top: 6%;
}
.imagenFondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.sectionIntro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24); /* Ajusta el valor alfa para la oscuridad deseada */
    z-index: -1; /* Asegúrate de que la superposición esté detrás del contenido del contenedor */
}
.textContainer{
    padding-top: 100px;

}
.textContainer h1{
    margin: 0px;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.05;
    letter-spacing: -3.5px;
    color: rgba(255, 255, 255, 0.973);
}
.textContainer p{
    margin: 0px;
    padding-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.555);
}

.contenido{
    height: fit-content;
}

.exploreContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 15%;
    font-size: 0.8rem;
    padding-top: 40px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}
.exploreContainer h2{
    margin: 0px;
    font-weight: 800;
}

.exploreContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    padding: 8px 18px;
    border-radius: 50px;
    width: 20%;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-weight: 800;
}
.exploreContainer button:hover{
    background-color: rgba(128, 128, 128, 0.144);
}

.sectionCards{
    margin: 20px 15%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.cardContainer{
    max-height: fit-content;
    aspect-ratio: 1 / 1; 
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px); 
    margin-bottom: 20px;
}
.containerPostHome{
    position: relative;
    height: 100%;
    
}
.postImageHome{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedorTituloPostHome{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.637));
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.tituloPostHome{
    display: flex;
    align-items: flex-end;
    height: 70px;
    bottom: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.infoUserBasic{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.infoUserBasic div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.infoUserBasic div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatarUser{
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.userHome{
    margin: 0px;
    
}
.userHome:hover{
    font-weight: 700;
    text-decoration:underline;
    
}

.userHomeStats p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.userHomeStats p{
    margin: 0px;
    margin: 8px 0px;
}
.profileImageContainer{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 100%;
}
.profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
}
.initial{
    color: white;
    position: absolute;
    
}

.contenedorViewProfile{
    position: absolute;
    margin-top: 70px;
    width: 200px;
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.603);
}
.contenedorViewProfile h3{
    margin: 0px;
    margin-top: 10px;
    font-size: 1.1rem;
    padding: 5px;
}
.contenedorViewProfile h4{
    margin: 0px;
    
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.747);
    
}
.contenedorViewProfile a{
    color: inherit;
    text-decoration: none;
    
}

.profile{
    display: flex;
    justify-content: center;
    padding: 6.5px 0px;
    margin: 15px 0px;
    
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
    width: 100%;
    font-size: 0.7rem;
}
.profile:hover{
    border: 1px solid rgb(177, 177, 177);
    background-color: rgba(216, 216, 216, 0.774)
}

.logOut{
    width: 100%;
    border-top: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 0.7rem;
    padding: 5px 0px;
    color: rgb(117, 117, 117);
    margin-bottom: 2px;
}
.logOut a:hover{
    color: rgb(54, 54, 54);
}

.section{
    position: relative;
    background: linear-gradient(to bottom, rgba(224, 224, 224, 0.61) 10%,  rgb(255, 255, 255) 90%);
}

.fondo{
    position: relative;
    height: 35vh;
    
}
.fondoPerfil{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}
.fondoEffect{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    z-index: 0;
}
.mainProfile{
    display: flex;
    margin: 0px 15%;
    position: relative;
}

.contenedorProfile{
    padding-top: 40px;
    width: 250px;
    height: 80vh;
    background: linear-gradient(to top, rgba(163, 163, 163, 0) 1%,  rgb(255, 255, 255)20%);
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fotoProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    margin-bottom: 45px;
}
.fotoProfile h2{
    color: white;
    font-size: 2rem;
}
.dataProfile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.dataProfile h2{
    margin: 0px;
    font-size: 1.3rem;
}
.dataProfile span{
    margin: 0px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.705);
}

.btnsProfile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
    margin: 30px;
}
.btnsProfile button{
    height: 35px;    
    border-radius: 20px;
    border: 0px;
}
.btnsProfile a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;    
    border-radius: 20px;
    border: 0px;
}
.editProfile{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.follow{
    
    background-color: black;
    color: white;
}
.btnsProfile .edit{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.contenedorLibrary{
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    
}
.contenedorLibrary button{
    background-color: transparent;
    padding: 8px 30px;
    border-radius: 20px;
    border: 0px;
    font-weight: 900;
    font-size: 0.8rem;
}


.contenedorLibrary .selectedL{
    background-color: black;
    color: white;
}

.contenedorLibrary .btnAddLibrary{
    width: fit-content;
    padding: 0px 27px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.295);
}
.contenedorLibrary .btnAddLibrary:hover{
    background-color: rgba(131, 131, 131, 0.123);
    
}
.contenedorInput{
    display: flex;
}
.contenedorLibrary .addLibrary{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

.inputAgregar{
    width: 90px;
    background-color: transparent;
    padding: 6px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}


.contenedorPublicacionPerfil{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
    
}

.contenedorPostProfile{
    height: 240px;
    flex-basis: calc(25% - 10px);
    min-width: 260px;
    position: relative;
    border-radius: 5px;
}

.contenedorPostProfile h1{
    margin: 0px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
}
.postImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.contenedorSkeleton{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.skeleton{
    height: 240px;
    flex-basis: calc(25% - 10px);
    min-width: 260px;
    position: relative;
    border-radius: 5px;
}
.efectoSombra{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.contenedorAgregarPost{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background-color: rgba(228, 228, 228, 0.671);
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px); 
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.13);
    min-width: 240px;
}
.contenedorAgregarPost:hover{
    background-color: rgba(212, 212, 212, 0.699);
    
}


.sectionLibrary{
    width: 100%;
    position: relative;
    
}

.crearPostContainer{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.267);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}
.crearPostData{
    
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
    height: fit-content;
    width: 520px;
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px;
    margin-top: 100px;
}

.titlePost{
    height: 50px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
}

.contenedorBtnCrearP{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: flex-end;
}
.contenedorBtnCrearP button{
    background-color: rgb(0, 0, 0);
    padding: 0px 10px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
}
.contenedorBtnCrearP .cancel{
    background-color: transparent;
    color: rgb(68, 68, 68);
    border: 1px solid rgba(105, 105, 105, 0.767);
    box-shadow: none;
}

.preImage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 233, 233);
    margin: 30px 0px;
    margin-top: 10px;
    height: 280px;
    border-radius: 7px;
    padding: 0px 20px;
    
}

.contenedorImagePre{
    height: 240px;
    min-width: 240px;
    
}
.imagenPreview{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 7px;
}
.contenedorBtnSelecccionar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.seleccionarArchivo{
    border: 0px;
    background-color: transparent;
    font-size: 50px;
    color: rgba(94, 94, 94, 0.568);
}

.contenedorStats{
    width: 100%;
}

.textStats{
    font-size: 0.7rem;
    padding: 0px 30px;
}
.textStats div{
    display: flex;
    justify-content: space-between;
}
.login{
padding-top: 120px;
}



.conteendorPageEdit{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.contenedorImageEdit{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.effectGradiant{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0),rgba(255, 255, 255, 0.712));
}
.effectGradiant2{
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0),rgba(255, 255, 255, 0.664));
}
.contenedorImageEdit2{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.design{
    padding-top: 20px;
    width: auto;
    height: 90%;
    
}
.design2{
    padding-top: 20px;
    width: auto;
    height: 90%;
    
}
.containerForm{
    
    align-items: center;
    height: 100%;
    width: 900px;
    display: flex;
    justify-content: center;
}
.form{
    z-index: 999;
    border-radius: 12px;
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
    background-color: white;
}
.basicInfoEdit{
    margin-top: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 80%;
}
.basicInfoEdit input{
    display: flex;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    width:40%;
    
}


.moreInfoEdit{
    margin-top: 40px;
    width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.moreInfoEdit input{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    
    border: 1px solid rgba(0, 0, 0, 0.144);
    padding-left: 10px;
}
.moreInfoEdit select{
    width: 93%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    
    padding-left: 10px;
}
.moreInfoEdit textarea{
    width: 90%;
    height: 200px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
    white-space: pre-wrap;
    resize: none;
}
.moreInfoEdit div{
    padding-right: 5px;
    padding-bottom: 5px;
    width: 92%;
    text-align: right;
    color: rgba(0, 0, 0, 0.685);
}
.moreInfoEdit div span{
    padding-right: 5px;
    font-size: 0.7rem;
}
.done{
    width: 100%;
    height: 40px;    
    border-radius: 20px;
    border: 0px;
    background-color: black;
    color: white;
}
.cancel{
    width: 100%;
    height: 40px;    
    border-radius: 20px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(48, 48, 48);
    margin-bottom: 30px;
}
